{
   "id": "qq1234sample",
   "service_account_id": "qq1234rwerwetrsample",
   "created_at": "2023-12-07T22:41:08.662126902Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nXXXXXXXXXXXXXXX\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nXXXXXXXXXXXXXXXX\n-----END PRIVATE KEY-----\n"
}
