#!/bin/bash

if [ "$1" == "--list" ] ; then
cat<<EOF
{
   "kuber":
	${jsonencode({"hosts": [for kuber_ip in kuber_ip: "${kuber_ip}"],
	})}
}
EOF
elif [ "$1" == "--host" ]; then
  echo '{"_meta": {"hostvars": {}}}'
else
  echo "{ }"
fi
